/* Base styles */

html, body, div, span,
h1, h2, h3, h4, p,
a, em, img, ul, li {
  background: transparent;
  border: 0;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  background: #fcfae6 url(bg.png) repeat-x;
  overflow-y: scroll;
}

body {
  color: #444;
  font: 16px/1.5 Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif; 
  margin: 0 auto;
  padding: 30px 0;
  width: 900px;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  color: #dc281e;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ccc;
}

/* Header */

#header {
  margin-bottom: 60px;
}

#header #intro {
  line-height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

#header h1 {
  color: #dc281e;
  float: left;
  font-family: Lato, "Gill Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 300px;
}

#header h1 #name {
  font-size: 72px;
  font-weight: 700;
  line-height: 60px;
  text-transform: lowercase;
}

#header h1 #tagline {
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header h2 {
  float: right;
  font-size: 18px;
  width: 500px;
}

#header ul#links {
  border-color: #d7d4a6;
  border-style: solid;
  border-width: 2px 0;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

#header ul#links li {
  float: left;
}

#header ul#links li h4 {
  color: #444;
}

#header ul#links li#email, #header ul#links li#resume  {
  width: 150px;
}

#header ul#links li#elsewhere {
  color: #888;
  padding: 0 25px;
}

#header ul#links li#elsewhere ul li {
  font-style: italic;
  width: 137px;
}

#header ul#links li#elsewhere ul li a {
  font-size: 16px;
  font-style: normal;
}

/* Main site content */

#content {
  margin: 0 auto;
}

h3 {
  font-family: Lato, "Gill Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  color: #888;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.item {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  margin-bottom: 40px;
  overflow: hidden;
}

.item .description {
  float: left;
  padding: 20px;
  width: 260px;
}

.item p {
  margin-bottom: 20px;
}

.item img {
  float: left;
  width: 600px;
}

/* Footer */

#footer {
  border-color: #d7d4a6;
  border-style: solid;
  border-width: 2px 0;
  font-size: 24px;
  margin-top: 60px;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

#footer p {
  display: inline;
}

#footer a#back_to_top {
  border: none;
  float: right;
}
