#nav .section h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#nav .section:nth-child(1) h2 {
  color: #c30;
  font-weight: bold;
}

#nav ul {
  display: none;
}

#bottom h2 {
  border-bottom: 1px dotted #ccc;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 20px;
  width: 925px;
}

#bottom h3 {
  font-weight: bold;
}

#about {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  width: 925px;
}

#about h3 {
  font-size: 24px;
  font-weight: lighter;
}

#about p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#mission {
  background: #eee;
  border-bottom: 1px solid #fff;
  font-size: 17.2px;
  font-style: italic;
  margin: 20px 0;
  padding: 10px;
  width: 920px;
}