#nav .section h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#nav .section:nth-child(2) h2 {
  color: #c30;
  font-weight: bold;
}

#nav ul {
  display: none;
}

#bottom h2 {
  border-bottom: 1px dotted #ccc;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 20px;
  width: 925px;
}

#bottom h3 {
  font-weight: bold;
}

#faculty {
  width: 960px;
}

#faculty .section img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
  float: right;
  margin-left: 10px;
  width: 80px;
}

#faculty .section {
  background: #eee;
  float: left;
  margin-right: 10px;
  padding: 5px;
  width: 292px;
  height: 95px;
}

#faculty .section p+p {
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
}