<img src="photo.jpg" alt="Chris Lee" id="photo">
<h2>Hi. My name's Chris.</h2>
<div id="intro">
	<p>I'm a <a href="http://www.cs.cmu.edu/" target="_blank">computer science</a> student at <a href="http://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>. <br />
		I like making things. <br />
		Things that will make people's lives happier. <br />
		Things like software and web applications. <br />
		I believe that great products are both beautiful and functional. <br />
		So I work as both an engineer and a designer. <br />

  <p>Recently, I built <a href="http://grapev.in" class="visit">Grapevin</a>, a web application for sharing playlists.</p>

	<p class="important">I'm seeking a software engineering internship for the summer of 2011 with a company that's pushing the limits of technology.</p>

	<p>You can find my code on <a href="https://github.com/cleercode">GitHub</a>, design on <a href="http://dribbble.com/Cleer">Dribbble</a>, and work info on <a href="http://linkedin.com/in/cleer">LinkedIn</a>.</p>

	<!-- <p>I am currently <em>unavailable</em> for freelance work, but you should feel free to contact me anyway if you are interested in my services.</p> -->
	
	<p>Need to contact me? Shoot an email to <strong>cleer <span class="sec">{at}</span> cmu <span class="sec">{dot}</span> edu</strong>.</p>
	
</div>
<blockquote>
	What hackers and painters have in common is that they're both makers. Along with composers, architects, and writers, what hackers and painters are trying to do is make good things.
	<span id="quote-credit">Paul Graham</span>
</blockquote>