<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Chris Lee<%= @page == 'index' ? '' : ' | ' + @page.capitalize %></title>
    <link href="//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" >
    <link href="//fonts.googleapis.com/css?family=Cambria:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
  </head>
  <body>
    <div id="header">
      <div id="intro">
        <h1>
          <span id="name">Chris Lee</span>
          <span id="tagline">Code &amp; Design</span>
        </h1>
        <h2>
          I study computer science at Carnegie Mellon University.<br />I enjoy building stuff on the web.<br/>This is some of my work.
        </h2>
      </div>
      <ul id="links">
        <li id="email"><h4>Email</h4> <a href="mailto:cleer@cmu.edu">cleer@cmu.edu</a></li>
        <li id="resume"><h4>Resume</h4> <a href="resume.pdf">Download</a></li>
        <li id="elsewhere"><h4>Elsewhere</h4> <ul>
          <li><a href="http://dribbble.com/Cleer">Dribbble</a> (design)</li>
          <li><a href="https://github.com/cleercode">GitHub</a> (code)</li>
          <li><a href="http://linkedin.com/in/cleer">LinkedIn</a> (work)</li>
          <li><a href="http://qr.ae/hBc">Quora</a> (q&amp;a)</li>
          </li></ul>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <p>Thanks for visiting! <a href="mailto:cleer@cmu.edu">Would you like to contact me?</a></p>
      </div>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19583432-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
       </script>
     </body>
   </html>
