<div class="section-header">
	<h2>Resume</h2>
	<ul class="links">
		<li><a href="resume.pdf">PDF</a></li>
		<li><a href="http://linkedin.com/in/cleer">LinkedIn</a></li>
	</ul>
</div>
<div id="primary">
	<h3>Education</h3>
	<ul>
		<li><strong>Bachelor of Science in Computer Science</strong> <span class="sec">May 2013</span></li>
		<li><strong>Carnegie Mellon University</strong> <span class="sec">Pittsburgh, PA</span></li>
		<li><strong>Cummulative GPA</strong>: 3.35/4.00</li>
	</ul>
	<h3>Experience</h3>
	<ul>
		<li><strong>Stik.com</strong> <span class="sec">Front-end Development &amp; UI Design | Summer 2010</span>
		<p>Interned at a young startup in San Francisco that uses Facebook connections to connect people with trustworthy service professionals. Played two roles.</p>
		<ul class="bullets">
			<li><strong>Development</strong>: Implemented major front-end functionality, such as user profile pages, login functionality, and signup forms. Worked extensively with JavaScript (Ajax, jQuery, MooTools), PHP, and the Facebook API.</li>
			<li><strong>Design</strong>: Overhauled the site’s aesthetics, branding, and layout. Learned to design with usability and conversion rate considerations in mind. Set up maintainable design standards.</li>
		</ul>
		</li>
	</ul>
	<h3>Projects</h3>
	<ul class="spaced">
  	<li>
  		<strong>Grapevin</strong> <span class="sec"><a href="http://grapevine.chrsl.net">grapev.in</a></span><br/>
  		A web application that allows users to create and share a playlist of their favorite songs. Built in Ruby on Rails.
  	</li>
		<li>
			<strong>Kittygram</strong> <span class="sec"><a href="http://kittygram.heroku.com">kittygram.heroku.com</a></span><br/>
			A web application that displays cat photos from Twitter users around the world. Built in Ruby and Sinatra.
		</li>
		<li>
			<strong>Chess Bot</strong><br/>
			An automated chess engine. Worked with a partner. Ranked #2 in a class competition of 50+ chess programs. Built in Java.
		</li>
	</ul>
</div>
<div id="secondary">
	<h3>Skills</h3>
		<h4>Programming</h4>
		<ul>
  		<li>Ruby</li>
			<li>Java</li>
			<li>C</li>
			<li>Objective-C</li>
			<li>Perl</li>
		</ul>
		<h4>Web</h4>
		<ul>
  		<li>Ruby on Rails</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>MooTools</li>
			<li>Sinatra</li>
			<li>PHP</li>
			<li>MySQL</li>
			<li>HTML</li>
			<li>CSS</li>
		</ul>
		<h4>Applications</h4>
		<ul>
  		<li>Git</li>
			<li>Subversion</li>
			<li>Eclipse</li>
			<li>Photoshop</li>
			<li>Illustrator</li>
		</ul>
	<h3>Coursework</h3>
	<ul>
		<li>Great Theoretical Ideas of CS</li>
		<li>Data Structures &amp; Algorithms</li>
		<li>Computer Systems</li>
		<li>Entrepreneurship for CS</li>
		<li>Technical Communication</li>
	</ul>
</div>
