<div class="section-header">
	<h2>Work</h2>
	<ul class="links"><li><a href="http://www.dribbble.com/players/Cleer">See sneak peeks of my works in progress on Dribbble!</a></li></ul>
</div>
<div id="intro">
	<p>As a professional, I have worked on web applications as both a developer and a designer. <br/> I'm constantly working on personal projects to further my knowledge and create useful applications.</p>
</div>
<div class="item">
	<div class="description">
		<h3>Grapevin</h3>
		<p>During December 2010, I built Grapevin while teaching myself Ruby on Rails. The application allows users to sign in with their existing Facebook or Twitter accounts and create their an <a href="http://grapev.in/chris">interactive playlist of their favorite songs</a> to share with their friends.</p>
		<p>Besides learning a new web development framework, much of the challenge was creating a cohesive user experience. I continue to maintain and improve Grapevin.
		
		<h4>Technologies</h4>
		<ul>
			<li>Ruby on Rails</li>
			<li>jQuery</li>
			<li>last.fm API</li>
			<li>Grooveshark API</li>
			<li>HTML</li>
			<li>CSS</li>
		</ul>
		
		<h4>Visit</h4>
		<a href="http://grapev.in" class="visit">grapev.in</a>
	</div>
	<img src="work/grapevin.png" alt="Grapevin" />
</div>
<div class="item">
	<div class="description">
		<h3>Stik.com</h3>
		<p>Over summer 2010, I worked as a front-end development and user interface intern at Stik.com, a young San Francisco-based startup that uses the Facebook network to help connect users with professionals whom their friends know.</p> 
		<p>I completely overhauled the design of the site and implemented major functionality such as user profile pages.</p>
		
		<h4>Technologies</h4>
		<ul>
			<li>PHP</li>
			<li>MySQL</li>
			<li>jQuery</li>
			<li>MooTools</li>
			<li>Facebook API</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Photoshop</li>
			<li>Illustrator</li>
		</ul>
		
		<h4>Visit</h4>
		<a href="http://stik.com" class="visit">stik.com</a>
	</div>
	<img src="work/stik.png" alt="Stik" />
</div>
<div class="item">
	<div class="description">
		<h3>Easy Legal Billing</h3>
		<p>I redesigned appearance of a web-based billing application.</p>
		
		<h4>Technologies</h4>
		<ul>
			<li>Photoshop</li>
		</ul>
	</div>
	<img src="work/easylegalbilling.png" alt="Easy Legal Billing" />
</div>
<div class="item">
	<div class="description">
		<h3>Fire Emblem: Immortal Sword</h3>
		<p>I designed and coded the website for a fan-made spinoff of a popular video game series.</p>
		
		<h4>Technologies</h4>
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>Photoshop</li>
		</ul>
		
		<h4>Visit</h4>
		<a href="http://bwdyeti.com/fe7x" class="visit">bwdyeti.com/fe7x</a>
	</div>
	<img src="work/fe7x.png" alt="Fire Emblem: Immortal Sword" />
</div>
<div class="item">
	<div class="description">
		<h3>Grapevine</h3>
		<p>For Yahoo!'s annual <a href="http://developer.yahoo.com/hacku/">Hack U</a> competition, I developed a music recommendation web application in less than a full day. The success of this project inspired my later endeavor, the similarly-named <a href="http://grapev.in">Grapevin</a>.</p>
		
		<h4>Technologies</h4>
		<ul>
			<li>jQuery</li>
			<li>last.fm API</li>
			<li>HTML</li>
			<li>CSS</li>
		</ul>
		
		<h4>Visit</h4>
		<a href="http://grapevine.chrsl.net" class="visit">grapevine.chrsl.net</a>
	</div>
	<img src="work/grapevine.png" alt="Grapevine" />
</div>