<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chris Lee</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-19583432-1"]);
      _gaq.push(["_trackPageview"]);

      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body class="bg-near-white dark-gray">
    <nav class="gill-sans f6 ttu w-100 bb b--black-10">
      <ul class="list ph4 ph5-ns">
        <li class="dib mr4">
          <a href="/" class="link mid-gray hover-cl-blue pv3"
            ><span class="tracked-mega">Abou</span>t</a
          >
        </li>
        <li class="dib mr4" style="margin-bottom: -1px;">
          <a href="/work" class="link mid-gray hover-cl-blue pv3"
            ><span class="tracked-mega">Wor</span>k</a
          >
        </li>
        <li class="dib mr4 bb bw1 dark-gray pv3" style="margin-bottom: -1px;">
          <span class="tracked-mega">Writin</span>g
        </li>
      </ul>
    </nav>
    <main class="charter note f6 lh-copy mw7 center pa4 pt4 pa5-ns">
      <a
        href="/posts.html"
        class="dib mb2 mb0-ns mt1-ns fl-ns nl5-ns bg-light-gray hover-bg-moon-gray pa2 br-pill"
        style="width: 40px; height: 40px;"
        ><img src="/images/arrow-left.svg"
      /></a>
      <div>
        <h1 class="f2 b mb2 lh-title cl-blue">
          {{page.title}}
        </h1>
        <div>{{page.date | date: "%B %-d, %Y"}}</div>
        <div class="mt4">
          {{content}}
        </div>
      </div>
    </main>
  </body>
</html>
